


.Auth {
    margin: 20px auto;
    width: 25%;
    text-align: center;
    /* box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee; */
    padding: 10px;
    box-sizing: border-box;
    /* background-color: rgba(69, 85, 85, 0.349); */
    background-color: #dbdbdb1f;
    color: rgba(238, 196, 9, 0.952);
}



